.idea
./atlantis
*.iml
.vscode
atlantis.db
output
.DS_Store
.cover
.terraform/
node_modules/
**/.vuepress/*
helm/test-values.yaml
*.swp
golangci-lint
atlantis
.devcontainer
atlantis.env
*.act
package-lock.json
Dockerfile.local

# gitreleaser
dist/
tmp-CHANGELOG.md

.envrc
