# Note: This file is only used for Atlantis local development
services:
  ngrok:
    image: wernight/ngrok:latest@sha256:d211f29ebcfe5f4e72df4fa8bdd9a667886e127d7fcb1be4a1af5ad83a8a1b77
    ports:
      - 4040:4040
    environment:
      # https://dashboard.ngrok.com/get-started/your-authtoken
      # NGROK_AUTH: REPLACE-WITH-YOUR-TOKEN // set this in atlantis.env
      NGROK_PROTOCOL: http
      NGROK_PORT: atlantis:4141
    env_file:
      - atlantis.env
    depends_on:
      - atlantis
  redis:
    image: redis:7.4-alpine@sha256:c1e88455c85225310bbea54816e9c3f4b5295815e6dbf80c34d40afc6df28275
    restart: always
    ports:
      - 6379:6379
    command: redis-server --save 20 1 --loglevel warning --requirepass test123
    volumes:
      - redis:/data
  atlantis:
    depends_on:
      - redis
    build:
      context: .
      dockerfile: Dockerfile.dev
    ports:
      - 4141:4141
    volumes:
      - ${HOME}/.ssh:/.ssh:ro
      - ${PWD}:/atlantis/src:ro
    # Contains the flags that atlantis uses in env var form
    env_file:
      - atlantis.env

volumes:
  redis:
    driver: local
