version: 2
jobs:
  test:
    docker:
    - image: ghcr.io/runatlantis/testing-env:latest
    steps:
    - checkout
    - run: make check-fmt
    - run: make check-lint
  e2e:
    docker:
    - image: cimg/go:1.19 # If you update this, update it in the Makefile too
      environment:
        # This version of TF will be downloaded before Atlantis is started.
        # We do this instead of setting --default-tf-version because setting
        # that flag starts the download asynchronously so we'd have a race
        # condition.
        # renovate: datasource=github-releases depName=hashicorp/terraform versioning=hashicorp
        TERRAFORM_VERSION: 1.3.7
    steps:
    - checkout
    - run: make build-service
    # We don't run e2e tests on fork PRs because they don't have access to the secret env vars.
    - run: if [ -z "${CIRCLE_PR_REPONAME}" ]; then ./scripts/e2e.sh; fi

  # Check that there's no missing links for the website.
  # This job builds the website, starts a server to serve it, and then uses
  # muffet (https://github.com/raviqqe/muffet) to perform the link check.
  website_link_check:
    docker:
    - image: cimg/node:18.13.0
    environment:
      # renovate: datasource=github-releases depName=raviqqe/muffet
      MUFFET_VERSION: 2.6.3
    steps:
    - checkout
    - run: |
        # http-server is used to serve the website locally as muffet checks it.
        yarn global add http-server
        # install raviqqe/muffet to check for broken links.
        curl -L https://github.com/raviqqe/muffet/releases/download/v${MUFFET_VERSION}/muffet_${MUFFET_VERSION}_Linux_x86_64.tar.gz | tar -xz
    - run: yarn install
    - run: yarn website:build
    - run:
        name: http-server
        command: http-server runatlantis.io/.vuepress/dist
        background: true
    - run:
        name: wait until server listened
        command: curl --retry-delay 1 --retry 30 --retry-all-error http://localhost:8080
    - run: |
        ./muffet \
          -e 'https://github\.com/runatlantis/atlantis/edit/main/.*' \
          -e 'https://github.com/runatlantis/helm-charts#customization' \
          --header 'Accept-Encoding:deflate, gzip' \
          --buffer-size 8192 \
          http://localhost:8080/

workflows:
  version: 2
  branch:
    jobs:
    - test:
        filters:
          branches:
            ignore: /docs\/./
    - e2e:
        context:
          - atlantis-e2e-tests
        requires: [test]
        filters:
          branches:
            # Ignore fork PRs since they don't have access to
            # the atlantis-e2e-tests context (and also doc PRs).
            ignore: /(pull\/\d+)|(docs\/.*)/
    - website_link_check
