version: 2
jobs:
  test:
    docker:
    - image: ghcr.io/runatlantis/testing-env:2021.08.31
    steps:
    - checkout
    - run: make test-all
    - run: make check-fmt
    - run: make check-lint
  e2e:
    docker:
    - image: circleci/golang:1.17 # If you update this, update it in the Makefile too
      environment:
        # This version of TF will be downloaded before Atlantis is started.
        # We do this instead of setting --default-tf-version because setting
        # that flag starts the download asynchronously so we'd have a race
        # condition.
        TERRAFORM_VERSION: 1.1.7
    steps:
    - checkout
    - run: make build-service
    # We don't run e2e tests on fork PRs because they don't have access to the secret env vars.
    - run: if [ -z "${CIRCLE_PR_REPONAME}" ]; then ./scripts/e2e.sh; fi

  # Check that there's no missing links for the website.
  # This job builds the website, starts a server to serve it, and then uses
  # muffet (https://github.com/raviqqe/muffet) to perform the link check.
  website_link_check:
    docker:
      # This image's Dockerfile is at runatlantis.io/Dockerfile
    - image: ghcr.io/runatlantis/ci-link-checker:2021.06.22
    steps:
    - checkout
    - run: yarn install
    - run: yarn website:build
    - run:
        name: http-server
        command: http-server runatlantis.io/.vuepress/dist
        background: true
      # We use dockerize -wait here to wait until the server is up.
    - run: |
        dockerize -wait tcp://localhost:8080 -- \
          muffet \
            -e 'https://github\.com/runatlantis/atlantis/edit/master/.*' \
            -e 'https://github.com/helm/charts/tree/master/stable/atlantis#customization' \
            --buffer-size 8192 \
            http://localhost:8080/

workflows:
  version: 2
  branch:
    jobs:
    - test:
        filters:
          branches:
            ignore: /docs\/./
    - e2e:
        context:
          - atlantis-e2e-tests
        requires: [test]
        filters:
          branches:
            # Ignore fork PRs since they don't have access to
            # the atlantis-e2e-tests context (and also doc PRs).
            ignore: /(pull\/\d+)|(docs\/.*)/
    - website_link_check
