{{ if .ApplyActionsSummary }}
## Required Actions :heavy_exclamation_mark:

Github Actions are blocking this deployment from proceeding.

### Summary
{{ .ApplyActionsSummary }} 
{{end}}

| Operation | **Status** | **Logs** |  
| - | - | - |
| Plan | {{ if .PlanStatus }}`{{.PlanStatus}}`{{else}}N/A{{end}} |{{ if .PlanLogURL }}[Click Here]({{.PlanLogURL}}){{else}}N/A{{end}} |
| Apply | {{ if .ApplyStatus }}`{{.ApplyStatus}}`{{else}}N/A{{end}} |{{ if .ApplyLogURL }}[Click Here]({{.ApplyLogURL}}){{else}}N/A{{end}} |

{{if .InternalError }}
## Deployment Error :boom:
:point_right: An error has been encountered from either of the following:
* The Deploy timed out after 7 days without approval
* A Terraform operation failed
* A Terraform apply was rejected by a user
* There was a platform issue

If a specific terraform operation has failed, check the logs (linked above) to determine if this is a terraform error or not.  If it is, you'll likely need to make some configuration fixes and try again.

**Note: If the terraform operations do not indicate any failure, there is a likely a platform issue. Contact service owners for additional debugging.**
{{end}}
{{if .TimedOut }}
## Timeout :clock1:
:point_right: We've hit an unknown timeout.  Please retry the deployment. If this persists this is most likely a bug, please contact the owners of atlantis so they can diagnose it.
{{end}}

{{if .ActivityDurationTimeout }}
## Timeout :clock1:
:point_right: An operation has taken longer than 60 minutes and has timed out.  Please look at the logs and determine if this is intentional or not.
To increase this timeout value beyond 60 minutes, please contact the owners of atlantis.
{{end}}

{{if .SchedulingTimeout }}
## Timeout :clock1:
:point_right: An operation has failed to be scheduled. Terraform operations need to be scheduled on the same worker so this is indicative of a worker process dying.  Hang tight while 
we reschedule the workflow on another worker.  This check run will be updated with the new results.
{{end}}

{{if .HeartbeatTimeout }}
## Timeout :clock1:
:point_right: A long running operation has been lost. Please retry the deployment by hitting the "re-run" button.
{{end}}
