{{ if .ApplyActionsSummary }}
## Required Actions :heavy_exclamation_mark:

Github Actions are blocking this deployment from proceeding.

### Summary
{{ .ApplyActionsSummary }} 
{{end}}

| Operation | **Status** | **Logs** |  
| - | - | - |
| Plan | {{ if .PlanStatus }}`{{.PlanStatus}}`{{else}}N/A{{end}} |{{ if .PlanLogURL }}[Click Here]({{.PlanLogURL}}){{else}}N/A{{end}} |
| Apply | {{ if .ApplyStatus }}`{{.ApplyStatus}}`{{else}}N/A{{end}} |{{ if .ApplyLogURL }}[Click Here]({{.ApplyLogURL}}){{else}}N/A{{end}} |

{{if .InternalError }}
## Deployment Error :boom:
:point_right: An error has been encountered from either of the following:
* The Deploy timed out after 7 days without approval
* A Terraform operation failed
* A Terraform apply was rejected by a user
* There was a platform issue

If a specific terraform operation has failed, check the logs (linked above) to determine if this is a terraform error or not.  If it is, you'll likely need to make some configuration fixes and try again.

**Note: If the terraform operations do not indicate any failure, there is a likely a platform issue. Contact service owners for additional debugging.**
{{end}}
{{if .TimedOut }}
## Timeout :clock1:
:point_right: One or more operations has timed out. It's possible that a terraform operation is still making progress, this can be confirmed by checking the logs above. However,
this deployment will need to be retried for this check to go green.
{{end}}