  <div class="show-sm">
    <div id="nav-toggle-box">
      <div id="nav-toggle-brand">
        <a href="/">Atlantis</a>
      </div><a data-component="toggleme" data-target="#top" href="#" id="nav-toggle"><i class="kube-menu"></i></a>
    </div>
  </div>
  <div class="hide-sm" id="top">
    <div id="top-brand">
      <a href="/" title="home">Atlantis</a>
    </div>
    <nav id="top-nav-main">
      <ul>
       {{ $currentPage := . }}
       {{ range .Site.Menus.main }}
    <li><a href="{{ .URL }}" {{if  $currentPage.IsMenuCurrent "main" . }} class="active"{{end}}>{{ .Name }}</a></li>
    {{end}}
      </ul>
    </nav>
    <nav id="top-nav-extra">
      <ul>
        <li>
          <a class="github-button" href="https://github.com/runatlantis/atlantis" data-icon="octicon-star" data-size="large" aria-label="Star runatlantis/atlantis on GitHub">Star</a>
        </li>
      </ul>
    </nav>
  </div>