{{ define "multiProjectApply" -}}
{{ template "multiProjectHeader" . -}}
{{ range $i, $result := .Results -}}
### {{ add $i 1 }}. {{ if $result.ProjectName }}proyecto: `{{ $result.ProjectName }}` {{ end }}directorio: `{{ $result.RepoRelDir }}` espacio de trabajo: `{{ $result.Workspace }}`
{{ $result.Rendered }}

---
{{ end -}}
{{ template "multiProjectApplyFooter" . -}}
{{ template "log" . -}}
{{ end -}}
