{{ define "stateRmSuccessWrapped" -}}
<details><summary>Mostrar salida</summary>

```diff
{{ .Output }}
```
</details>
:put_litter_in_its_place: Se descartó un archivo de plan. Se requiere volver a planificar antes de aplicar.

* :repeat: Para **planificar** este proyecto de nuevo, comenta:
  ```shell
  {{ .RePlanCmd }}
  ```
{{ end }}
