{{ define "unwrappedErr" -}}
**Error en {{ .Command }}**
```
{{ .Error }}
```
{{- if or .CommitURL .JobURL .MultipleJobs }}

{{- if .CommitURL }}
- Commit: [{{ .HeadCommit }}]({{ .CommitURL }})
{{- end }}
{{- if .JobURL }}
- Trabajo bloqueante: [Ver ejecución de Atlantis]({{ .JobURL }})
{{- end }}
{{- if .MultipleJobs }}
- Actualmente se están ejecutando varios trabajos de Atlantis para este commit.
{{- end }}
{{- end }}
{{ if ne .RenderedContext "" -}}
{{ if or .CommitURL .JobURL .MultipleJobs }}

{{ end -}}
{{ .RenderedContext }}
{{ end -}}
{{ end -}}
