{{ define "unwrappedErr" -}}
**Error en {{ .Command }}**
```
{{ .Error }}
```
{{- template "lockMetadata" . }}
{{ if ne .RenderedContext "" -}}
{{ if or .CommitURL .JobURL .MultipleJobs }}

{{ end -}}
{{ .RenderedContext }}
{{ end -}}
{{ end -}}
