{{ define "draftplanSuccessUnwrapped" -}}
```diff
{{ if .EnableDiffMarkdownFormat }}{{ .DiffMarkdownFormattedTerraformOutput }}{{ else }}{{ .TerraformOutput }}{{ end }}
```

{{ template "mergedAgain" . }}
{{ end -}}
