{{ define "importSuccessWrapped" -}}
<details><summary>Show Output</summary>

```diff
{{ .Output }}
```
</details>
:put_litter_in_its_place: A plan file was discarded. Re-plan would be required before applying.

* :repeat: To **plan** this project again, comment:
  * `{{ .RePlanCmd }}`
{{ end -}}
