{{ define "importSuccessWrapped" -}}
<details><summary>Show Output</summary>
```diff
{{ .Output }}
```
</details>
* :warning: plan file was discarded, to **plan** this project again, comment:
  * `{{ .RePlanCmd }}`
{{ end -}}
