{{ define "multiProjectApplyFooter" -}}
{{ if (gt (len .Results) 1) -}}
### Apply Summary

{{ len .Results }} projects, {{ .NumApplySuccesses }} successful, {{ .NumApplyFailures }} failed, {{ .NumApplyErrors }} errored
{{ end -}}
{{ end -}}
