{{ define "multiProjectPlan" -}}
{{ template "multiProjectHeader" . }}
{{ $disableApplyAll := .DisableApplyAll -}}
{{ range $i, $result := .Results -}}
### {{ add $i 1 }}. {{ if $result.ProjectName }}project: `{{ $result.ProjectName }}` {{ end }}dir: `{{ $result.RepoRelDir }}` workspace: `{{ $result.Workspace }}`
{{ $result.Rendered }}

{{ if ne $disableApplyAll true -}}
---
{{ end -}}
{{ end -}}
{{ if ne .DisableApplyAll true -}}
{{ if and (gt (len .Results) 0) (not .PlansDeleted) -}}
* :fast_forward: To **apply** all unapplied plans from this pull request, comment:
    * `{{ .ExecutableName }} apply`
* :put_litter_in_its_place: To delete all plans and locks for the PR, comment:
    * `{{ .ExecutableName }} unlock`
{{ end -}}
{{ end -}}
{{- template "log" . -}}
{{ end -}}
