{{ define "planSuccessWrapped" -}}
<details><summary>Show Output</summary>

```diff
{{ if .EnableDiffMarkdownFormat }}{{ .DiffMarkdownFormattedTerraformOutput }}{{ else }}{{ .TerraformOutput }}{{ end }}
```
</details>

{{ if .ApplyBlocked -}}
This plan was saved, but apply is blocked until all plans succeed.
{{ else -}}
{{ if not .DisableApply -}}
* :arrow_forward: To **apply** this plan, comment:
  ```shell
  {{ .ApplyCmd }}
  ```
{{ end -}}
{{ end -}}
{{ if not .DisableRepoLocking -}}
* :put_litter_in_its_place: To **delete** this plan and lock, click [here]({{ .LockURL }})
{{ end -}}
* :repeat: To **plan** this project again, comment:
  ```shell
  {{ .RePlanCmd }}
  ```
{{ .PlanSummary }}
{{ template "mergedAgain" . -}}
{{ end -}}
