{{ define "policyCheckFailure" }}
**{{ .Command }} Failed**:
{{ template "policyCheck" .PolicySetResults }}

* :heavy_check_mark: To **approve** failing policies an authorized approver can comment:
    * `{{ .ExecutableName }} approve_policies`
* :repeat: Or, address the policy failure by modifying the codebase and re-planning.
{{ end }}