{{ define "singleProjectPlanSuccess" -}}
{{ $result := index .Results 0 -}}
Ran {{ .Command }} for {{ if $result.ProjectName }}project: `{{ $result.ProjectName }}` {{ end }}dir: `{{ $result.RepoRelDir }}` workspace: `{{ $result.Workspace }}`

{{ $result.Rendered }}
{{ if ne .DisableApplyAll true }}
---
* :fast_forward: To **apply** all unapplied plans from this {{ .VcsRequestType }}, comment:
  ```shell
  {{ .ExecutableName }} apply
  ```
* :put_litter_in_its_place: To **delete** all plans and locks from this {{ .VcsRequestType }}, comment:
  ```shell
  {{ .ExecutableName }} unlock
  ```
{{ end -}}
{{ template "log" . -}}
{{ end -}}
