{{ define "singleProjectPlanSuccess" -}}
{{ $result := index .Results 0 -}}
Ran {{ .Command }} for {{ if $result.ProjectName }}project: `{{ $result.ProjectName }}` {{ end }}dir: `{{ $result.RepoRelDir }}` workspace: `{{ $result.Workspace }}`

{{ $result.Rendered }}
{{ if ne .DisableApplyAll true }}
---
* :fast_forward: To **apply** all unapplied plans from this pull request, comment:
    * `{{ .ExecutableName }} apply`
* :put_litter_in_its_place: To delete all plans and locks for the PR, comment:
    * `{{ .ExecutableName }} unlock`
{{ end -}}
{{- template "log" . -}}
{{ end -}}
