{{ define "singleProjectPlanSuccess" -}}
{{ $result := index .Results 0 -}}
Ran {{ .Command }} for {{ if $result.ProjectName }}project: `{{ $result.ProjectName }}` {{ end }}dir: `{{ $result.RepoRelDir }}` workspace: `{{ $result.Workspace }}`

{{ if (le (len $result.Rendered) 500000) }}{{$result.Rendered}}{{ else }}[..]
{{trunc -100 $result.Rendered}}

:warning: The plan is too large to render; run `terraform plan` locally, or open the atlantis job page.{{ end }}
{{ if ne .DisableApplyAll true }}
---
* :fast_forward: To **apply** all unapplied plans from this {{ .VcsRequestType }}, comment:
  ```shell
  {{ .ExecutableName }} apply
  ```
* :put_litter_in_its_place: To **delete** all plans and locks from this {{ .VcsRequestType }}, comment:
  ```shell
  {{ .ExecutableName }} unlock
  ```
{{ end -}}
{{ template "log" . -}}
{{ end -}}
