{{ define "stateRmSuccessWrapped" -}}
<details><summary>Show Output</summary>
```diff
{{ .Output }}
```
</details>
* :repeat: plan file was discarded, to **plan** this project again, comment:
  * `{{.RePlanCmd}}`
{{ end }}
