{{ define "unwrappedErr" -}}
**{{ .Command }} Error**
```
{{ .Error }}
```
{{- if or .CommitURL .JobURL .MultipleJobs }}

{{- if .CommitURL }}
- Commit: [{{ .HeadCommit }}]({{ .CommitURL }})
{{- end }}
{{- if .JobURL }}
- Blocking job: [View Atlantis execution]({{ .JobURL }})
{{- end }}
{{- if .MultipleJobs }}
- Multiple Atlantis jobs are currently running for this commit.
{{- end }}
{{- end }}
{{ if ne .RenderedContext "" -}}
{{ if or .CommitURL .JobURL .MultipleJobs }}

{{ end -}}
{{ .RenderedContext }}
{{ end -}}
{{ end -}}
