{{ define "unwrappedErr" -}}
**{{.Command}} Error**
```
{{.Error}}
```{{ if eq .Command "Policy Check" }}
* :heavy_check_mark: To **approve** failing policies an authorized approver can comment:
    * `{{ .ExecutableName }} approve_policies`
* :repeat: Or, address the policy failure by modifying the codebase and re-planning.
{{- end }}
{{- end }}
