**{{.Command}} Error**
```
{{.Error}}
```{{ if eq .Command "Policy Check" }}
* :heavy_check_mark: To **approve** failing policies either request an approval from approvers or address the failure by modifying the codebase.
{{ end }}{{if .Verbose}}
<details><summary>Log</summary>
  <p>

```
{{.Log}}```
</p></details>{{end}}
