{{ define "wrappedErr" -}}
**{{ .Command }} Error**
<details><summary>Show Output</summary>

```
{{ .Error }}
```
{{- if ne .RenderedContext "" }}
{{ .RenderedContext }}
{{- end }}
</details>
{{- if or .CommitURL .JobURL .MultipleJobs }}

{{- if .CommitURL }}
- Commit: [{{ .HeadCommit }}]({{ .CommitURL }})
{{- end }}
{{- if .JobURL }}
- Blocking job: [View Atlantis execution]({{ .JobURL }})
{{- end }}
{{- if .MultipleJobs }}
- Multiple Atlantis jobs are currently running for this commit.
{{- end }}
{{- end }}
{{ end -}}
