{{ define "wrappedErr" -}}
**{{ .Command }} Error**
<details><summary>Show Output</summary>

```hcl
{{ .Error }}
```
{{- if ne .RenderedContext "" }}
{{ .RenderedContext }}
{{- end }}
</details>
{{ end -}}
