name: atlantis-base

on:
  push:
    paths:
      - 'docker-base/**'
    branches:
      - "master"
  workflow_dispatch:

defaults:
  run:
    working-directory: docker-base

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2

    - name: Set up QEMU
      uses: docker/setup-qemu-action@v1
      with:
        image: tonistiigi/binfmt:latest
        platforms: arm64,arm

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v1

    - name: Login to Packages Container registry
      uses: docker/login-action@v1
      with:
        registry: ghcr.io
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}
    - run: echo "TODAY=$(date +"%Y.%m.%d")" >> $GITHUB_ENV

    - name: Build and push atlantis-base:${{env.TODAY}} image
      uses: docker/build-push-action@v2
      with:
        context: .
        platforms: linux/386,linux/amd64,linux/arm/v6
        push: true
        tags: |
          ghcr.io/runatlantis/atlantis-base:${{env.TODAY}}
          ghcr.io/runatlantis/atlantis-base:latest
