name: atlantis-image

on:
  push:
    branches:
      - 'main'
    tags:
      - v*.*.* # stable release like, v0.19.2
      - v*.*.*-pre.* # pre release like, v0.19.0-pre.calendardate
  pull_request:
    paths:
      - 'Dockerfile'
      - '.github/workflows/atlantis-image.yml'
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

jobs:
  build:
    runs-on: ubuntu-22.04
    steps:
    - uses: actions/checkout@v3
    - uses: actions/setup-go@v3
      with:
        go-version: 1.19

    - name: Set up QEMU
      uses: docker/setup-qemu-action@v2
      with:
        image: tonistiigi/binfmt:latest
        platforms: arm64,arm

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v2

    - name: Login to Packages Container registry
      uses: docker/login-action@v2
      with:
        registry: ghcr.io
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}

    # Publish dev image to container registry
    - name: Build and push atlantis:dev image
      if: ${{ contains(fromJson('["push", "pull_request"]'), github.event_name) }}
      uses: docker/build-push-action@v3
      with:
        context: .
        platforms: linux/arm64/v8,linux/amd64,linux/arm/v7
        pull: true
        push: ${{ github.event_name != 'pull_request' }}
        tags: |
          ghcr.io/${{ github.repository_owner }}/atlantis:dev

    # Publish release to container registry
    - name: populate release version
      if: |
        contains(fromJson('["push", "pull_request"]'), github.event_name) &&
        startsWith(github.ref, 'refs/tags/')
      run: |
        echo "RELEASE_VERSION=${GITHUB_REF#refs/*/}" >> $GITHUB_ENV
        echo "RELEASE_TYPE=${{ contains(github.ref, 'pre') ? "pre" : "stable" }}" >> $GITHUB_ENV

    - name: "Build and push atlantis:${{ env.RELEASE_VERSION }} image for ${{ env.RELEASE_TYPE }} release"
      if: |
        contains(fromJson('["push", "pull_request"]'), github.event_name) &&
        startsWith(github.ref, 'refs/tags/')
      uses: docker/build-push-action@v3
      with:
        context: .
        platforms: linux/arm64/v8,linux/amd64,linux/arm/v7
        pull: true
        push: ${{ github.event_name != 'pull_request' }}
        tags: |
          ghcr.io/${{ github.repository_owner }}/atlantis:${{ env.RELEASE_VERSION }}
          ghcr.io/${{ github.repository_owner }}/atlantis:${{ contains(github.ref, 'pre') ? "prerelease-latest" : "latest") }}
