name: atlantis-base

on:
  push:
    paths:
      - 'docker-base/**'
    branches:
      - "master"

defaults:
  run:
    working-directory: docker-base

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Login to Packages Container registry
      uses: docker/login-action@v1
      with:
        registry: ghcr.io
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}
    - run: echo "TODAY=$(date +"%m%d%Y")" >> $GITHUB_ENV
    - name: build atlantis-base:${{env.TODAY}} image
      run: |
        docker build -t ghcr.io/runatlantis/atlantis-base:${{env.TODAY}} .
    - name: publish atlantis-base:${{env.TODAY}} image
      run: |
        docker push ghcr.io/runatlantis/atlantis-base:${{env.TODAY}}
        docker tag ghcr.io/runatlantis/atlantis-base:${{env.TODAY}} ghcr.io/runatlantis/atlantis-base:latest
        docker push ghcr.io/runatlantis/atlantis-base:latest
