name: atlantis-image

on:
  push:
    branches:
      - 'master'
    tags:
      - 'v*.*.*'
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - uses: actions/setup-go@v2
      with:
        go-version: 1.17

    - name: Set up QEMU
      uses: docker/setup-qemu-action@v1
      with:
        image: tonistiigi/binfmt:latest
        platforms: arm64,arm

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v1

    - name: Login to Packages Container registry
      uses: docker/login-action@v1
      with:
        registry: ghcr.io
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}

    # Publish dev image to container registry
    - name: Build and push atlantis:dev image
      if: ${{ github.event_name == 'push'}}
      uses: docker/build-push-action@v2
      with:
        context: .
        platforms: linux/arm64/v8,linux/amd64,linux/arm/v7
        push: true
        tags: |
          ghcr.io/runatlantis/atlantis:dev

    # Publish release to container registry
    - name: populate release version
      if: ${{ github.event_name == 'push' && startsWith(github.ref, 'refs/tags/') }}
      run: echo "RELEASE_VERSION=${GITHUB_REF#refs/*/}" >> $GITHUB_ENV
    - name: Build and push atlantis:${{ env.RELEASE_VERSION }} image
      if: ${{ github.event_name == 'push' && startsWith(github.ref, 'refs/tags/') }}
      uses: docker/build-push-action@v2
      with:
        context: .
        platforms: linux/arm64/v8,linux/amd64,linux/arm/v7
        push: true
        tags: |
          ghcr.io/runatlantis/atlantis:${{ env.RELEASE_VERSION }}
          ghcr.io/runatlantis/atlantis:latest
