name: renovate-config

on:
  push:
    paths:
      - '.github/renovate.json5'
    branches:
      - main
      - 'releases-**'
  pull_request:
    paths:
      - '.github/renovate.json5'
  workflow_dispatch:

permissions:
  contents: read

jobs:
  validate:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332 # v4
      - uses: actions/setup-node@1e60f620b9541d16bece96c5465dc8ee9832be0b # v4
      - run: npx --package renovate -c 'renovate-config-validator'
