name: tester

on:
  push:
    branches:
      - "main"
  pull_request:
    branches:
      - "main"
concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

jobs:
  test:
    name: runner / gotest
    runs-on: ubuntu-22.04
    container: ghcr.io/runatlantis/testing-env:2022.11.13
    steps:
      # user in image needs write access to do anything
      - name: setup
        run: sudo chmod -R 777 $GITHUB_WORKSPACE /github /__w/_temp
      - uses: actions/checkout@v3.0.2
      - run: make test-all
