name: tester

on:
  push:
    branches:
      - "main"
    paths-ignore:
      - 'runatlantis.io/**'
  pull_request:
    branches:
      - "main"
    paths-ignore:
      - 'runatlantis.io/**'

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

jobs:
  test:
    name: runner / gotest
    runs-on: ubuntu-22.04
    container: ghcr.io/runatlantis/testing-env:2022.11.17
    steps:
      - uses: actions/checkout@v3.0.2
      - run: make test-all
