name: tester

on: [push]

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

jobs:
  test:
    name: runner / gotest
    runs-on: ubuntu-latest
    container: ghcr.io/runatlantis/testing-env:2021.08.31
    steps:
      # user in image needs write access to do anything
      - name: setup
        run: sudo chmod -R 777 $GITHUB_WORKSPACE /github /__w/_temp
      - uses: actions/checkout@v3
      - run: make test-all
